# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.codex-tmp/

# Python coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# VS Code
.vscode/

# macOS
.DS_Store

# Home Assistant
.storage/

# PowerShell
/Microsoft/Windows/PowerShell/ModuleAnalysisCache
